<div class="payment-new-main-container">
 <div class="container">
  <div class="row">

    <div class="col-xs-6 col-xs-offset-3">
      <div class="payment-new-card">
      <h4>Status: <%= @booking.state %></h4>

        <article>
          <label class="amount">
            <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
          </label>
        </article>

        <hr class="payment-line">
        <p><%= @booking.event.activity.title %></p>
        <p> Your event begins at:  <b><%= @booking.event.start_date %> </b></p>

        <%= link_to "Get more inspiration", root_path, class: "btn-medium" %>

      </div>
    </div>
  </div>
</div>
</div>
