<h1>Hallo</h1>
<%= @user.first_name %><br>
<%= @user.email %> <br>
<%= @user.role %> <br>
<% @bookings.each do |booking| %>
<%= link_to booking.event.activity.title, activty_path(booking.event.activity) %>
<% end %><br>
<% @activities.each do |activity| %>
<%= link_to activity.title, activity_path(activity) %>
<% end %>

 <div class="dashboard-buttons" style="text-align:center;">

    <%= link_to "Edit Profile", dashboard_edit_path, class: "btn-medium" %>
    <%= link_to "Search", root_path, class: "btn-medium"  %>
  </div>
