<div class="highlighted-activities">
  <div class="container">
    <div class="row">
     <div class="col-xs-12"> <h1>Recommended activities</h1>
     </div>
     <% @activities.select {|activity| activity.average_rating >= 4 }.last(3).each do |activity| %>
     <%= link_to activity_path(activity) do %>
     <div class="col-xs-12 col-sm-4">
      <div class="card-highlighted">
        <% if activity.photos.first %>
        <div class="card" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path activity.photos.first.path, width: 600, height: 600, crop: :fit, :effect=>"colorize:1", :color=>"#dde1ff"  %>');">
          <% end %>
          <div class="card-category">
            <p><%= activity.category.truncate(30) %></p>
          </div>
          <div class="card-description">
            <h2><span><%= activity.title.truncate(30) %></span></h2>
            <p><%= activity.address.truncate(30) %></p>
          </div>
          <div class="card-date">
          </div>

          <% if activity.user.avatar %>
          <%= cl_image_tag activity.user.avatar.path, class: "card-user" %>
          <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/mitsen", class: "card-user" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>

  </div>
</div>
</div>
