<div class="categories-container">
  <div class="container">
    <br>
    <h1>Categories</h1>


    <div class="col-xs-12 col-sm-4">
      <%= link_to activities_path(category: "Sports") do %>
      <div class="category category-sports">
        <p>Sports</p>
      </div>
      <% end %>
    </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to activities_path(category: "Arts") do %>
        <div class="category category-art">
          <p>Arts</p>
        </div>
        <% end %>
      </div>

       <div class="col-xs-12 col-sm-4">
        <%= link_to activities_path(category: "Cooking") do %>
        <div class="category category-cooking">
          <p>Cooking</p>
        </div>
        <% end %>
      </div>

       <div class="col-xs-12 col-sm-4">
        <%= link_to activities_path(category: "Animals") do %>
        <div class="category category-animals">
          <p>Animals</p>
        </div>
        <% end %>
      </div>

       <div class="col-xs-12 col-sm-4">
        <%= link_to activities_path(category: "Indoor") do %>
        <div class="category category-indoor">
          <p>Indoor</p>
        </div>
        <% end %>
      </div>

       <div class="col-xs-12 col-sm-4">
        <%= link_to activities_path(category: "Outdoor") do %>
        <div class="category category-outdoor">
          <p>Outdoor</p>
        </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>


