<div class="messager-wrapper">
  <div class="container text-center">
    <div class="grid">
      <div class="card-message profile-section">
        <div class="card-content">

          <h2><%= @event.activity.title %> </h2>

          <div class="messanger-activity-image"> 
            <%= cl_image_tag(@event.activity.photos.first.path) %>
          </div>
          <p>
            Please remember that "<%= @event.activity.title %>" starts on <%= @event.start_date %> <%#= @event.end_date %> 
          </p>
          <p>  
          details:
          </p>
          <ul class="list-untsyled">
            <li> <%= @event.activity.price %> </li>
            <li> <%= @event.activity.user.email %></li>
          </ul>
          <% @event.bookings.each do |booking| %>
            <p>
              <%= booking.user.email  %>
            </p>
              <%= cl_image_tag booking.user.avatar  %>  
            <p>
              <%= booking.user.first_name  %>
            </p>
          <% end %>

          <a href="#" class="btn btn-primary">Get in touch</a>
        </div>
      </div>

      <div class="card-message existing-messages">
        <ul class="messages">
          <% @event.messages.each do |message| %>
            <li class="message <%= 'message-right' if message.user == current_user %>">
              <p><%= message.content %></p>
              <p><%= message.user.first_name %></p>
            </li>
            
          <% end %>
        </ul>
      </div>

      <div class="card-message descr-section">
        <div class="card-content">
          <%= render 'messages/form', event: @event, message: @message %>
        </div>
      </div>

    </div>
  </div>
</div>


<%= content_for :after_js do %>
  <script>

    function clearInput() {
      const inputForm = document.getElementById('input-form')
      inputForm.value = ''
    }

    scrollLastMessageIntoView();
    App['chat_room_<%= @event.id %>'] = App.cable.subscriptions.create(
    {
      channel: 'ChatRoomsChannel',
      chat_room_id: <%= @event.id %>
    },
    {
      connected: () => {
        console.log('Connected')
      },
      received: (data) => {
        console.log(data.current_user_id)
        console.log(<%= current_user.id %>)
        if (data.current_user_id === <%= current_user.id %>) {
          clearInput()
        }
        const messagesContainer = document.querySelector('.messages');
        messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
        scrollLastMessageIntoView();

      }

    }
    )

  </script>
<% end %>