    <% content_for(:navbar_class, "navbar-home") %>
    <%= render 'shared/banner' %>

    <div class="wrapper-filters">
      <div class="nl-blurred">
       <div class="container container-filters demo-1">
        <div class="text-container">
          <%=form_tag(activities_path, method: "get", class: "nl-form", id: "") do %>
          <div id="homepage-form">
            I am searching for
            <%= select_tag(:category, options_for_select([['any kind of activity', ''],
              ['activities with animals', 'Animals'],
              ['arts activities', 'Arts'],
              ['cooking activities', 'Cooking'],
              ['games activities', 'Games'],
              ['indoors activities', 'Indoors'],
              ['outdoors activities', 'Outdoors'],
              ['sports activities', 'Sports']])) %>
        <!--     <select id="category">
              <option value="1" selected>any kind of activity</option>
              <option value="2">activities with animals</option>
              <option value="3">arts activities</option>
              <option value="4">cooking activities</option>
              <option value="5">games activities</option>
              <option value="6">indoors activities</option>
              <option value="7">outdoors activities</option>
              <option value="8">sports activities</option>
            </select>  -->
            for my child
            <%= select_tag(:age_group, options_for_select([['any age', ''],
              ['who is a toddler', '1'],
              ['who is in kindergarten', '2'],
              ['who is a school child', '3'],
              ['who is a teenager', '4'],
              ['and our family', '5']])) %>
            <!-- <select id="age_group">
              <option value="1" selected>who is a toddler</option>
              <option value="2">who is in kindergarten</option>
              <option value="3">who is a school child</option>
              <option value="4">who is a teenager</option>
              <option value="5">and our family</option>
            </select> -->
            <%= select_tag(:district, options_for_select([['anywhere in Berlin', ''],
              ['in Charlottenburg', 'Charlottenburg'],
              ['in Friedrichshain', 'Friedrichshain'],
              ['in Kreuzberg', 'Kreuzberg'],
              ['in Mitte', 'Mitte'],
              ['in Neukölln', 'Neukölln'],
              ['in Steglitz', 'Steglitz'],
              ['in Schöneberg', 'Schöneberg'],
              ['in Spandau', 'Spandau'],
              ['in Prenzlauer Berg', 'Prenzlauer Berg'],
              ['in Pankow', 'Pankow']])) %>
<!--
            <select id="address">
              <option value="1" selected>anywhere in Berlin</option>
              <option value="2">in Charlottenburg</option>
              <option value="3">in Friedrichshain</option>
              <option value="4">in Kreuzberg</option>
              <option value="5">in Mitte</option>
              <option value="6">in Neukölln</option>
              <option value="7">in Steglitz</option>
              <option value="8">in Pankow</option>
              <option value="9">in Prenzlauer Berg</option>
              <option value="10">in Schöneberg</option>
              <option value="11">in Spandau</option>
            </select> -->
            <%#= text_field_tag(:title, nil, placeholder: 'title') %>
            <br><%= submit_tag "find activity", class: "nl-submit" %> <%= image_tag "spaceman-right.svg", height: 70 %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <%#= form_tag(activities_path, method: "get") do %>
  <%#= text_field_tag(:category, nil, placeholder: 'category') %>
  <%#= text_field_tag(:title, nil, placeholder: 'title') %>
  <%#= text_field_tag(:address, nil, placeholder: 'address') %>
  <%#= text_field_tag(:age_group, nil, placeholder: 'age group') %>
  <%#= submit_tag("Search") %>
  <%# end %>


  <div class="calandar-section">
    <br>
    <br>
    <h2>OUR CALENDAR</h2>
    <div class="container">
     <div class="row">

      <% content = open("https://api.darksky.net/forecast/fa5d94b5a83673b3ee1d802e80dfc7ee/52.517,13.3889?exclude=[currently,minutely,hourly,alerts,flags]&units=si").read %>
      <% results = JSON.parse(content) %>

      <% [0,1,2].each do |i|%>
      <% item = results["daily"]["data"][i] %>

      <div class="col-xs-12 col-sm-4">
       <div class="calendar-cell text-center">
        <big><%= Time.at(item["time"]).day %>.<%= Time.at(item["time"]).month %>.<%= Time.at(item["time"]).year %></big>
        <hr>
        <br><% if item["icon"] == "partly_cloudy-day" %>
        <%= image_tag "cloud.png", height: 50  %>
        <% elsif item["icon"] == "partly-cloudy-night" %>
        <%= image_tag "cloud.png", height: 50  %>
        <% elsif item["icon"] == "clear-day" %>
        <%= image_tag "sun.png", height: 50  %>
        <% else %>
        <%= image_tag "snow.png", height: 50  %>
        <% end %>
        <p><%= item["temperatureHigh"].round(1) %>°C / <%= item["temperatureLow"].round(1) %>°C</p>
        <p><%= item["summary"] %></p>
        <hr>

        <div class="calendar-list">
          <% @activities.each do |activity| %>
          <% events_today = activity.events.where("start_date = ?", Date.today + i) %>
          <% events_today.each do |event_today| %>
          <%= link_to activity_path(event_today.activity) do %>
          <%= event_today.activity.title.truncate(30) %>
          <% end %>
          <% end %>
          <% end %>
        </div>

        <hr>
      </div>
    </div>
    <% end %>

  </div>
</div>
</div>
<%= render 'shared/testimonial' %>
