
<% @activities.each do |activity| %>
<% act = activity.events.where("start_date > ?", Date.today) %>
<% act.each do |ac| %>
<div class="index-search-result">
  <% if ac.activity.photos.first %>
  <div class="result-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path ac.activity.photos.first.path, width: 200, height: 150, crop: :fit %>');">
  </div>
  <% end %>
  <div class="result-title">
    <p><%= link_to ac.activity.title.truncate(30), activity_path(ac.activity) %></p>
  </div>
  <div class="result-location">
    <span class="fas fa-map-marker">
      <p><%= ac.activity.address.truncate(17) %></p>
    </div>
    <div class="result-description">
      <p><%= ac.activity.description.truncate(179)%></p>
      <!-- .truncate(25) -->
    </div>
    <div class="result-price">
      <span class="fas fa-euro-sign">
        <p><%= ac.activity.price %></p>
      </div>

    </div>
    <% end %>
    <% end %>


