<div class="wrapper-index">
<div class="index-search">
<% @activities.each do |activity| %>
<div class="index-search-result">
  <% if activity.photos.first %>
  <div class="result-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= cl_image_path activity.photos.first.path, width: 200, height: 150, crop: :fit %>');">
  </div>
  <% end %>
  <div class="result-title">
    <p><%= link_to "#{activity.title}", activity_path(activity) %></p>
  </div>
  <div class="result-location">
    <p><%= activity.address.truncate(25) %></p>
  </div>
  <div class="result-description">
    <p><%= activity.description.truncate(140) %></p>
  </div>

<!--   <div class="result-price">
    <p>Price <%= activity.price_cents %></p>
  </div> -->

</div>
<% end %>
</div>
</div>
