<div class="text-center">
  <h2>Add an activity</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%=  simple_form_for @activity do |f|%>
        <%= f.input :title, label: false, placeholder: "Title" %>
        <%= f.input :description, label: false, placeholder: "Description" %>
        <%= f.input :category, label: false, prompt: "Category", collection: [["activities with animals", "animals"], ["arts activities", "arts"], ["cooking activities", "cooking"], ["games activities", "games"], ["indoors activities", "indoors"], ["outdoors activities", "outdoors"], ["sports activities", "sports"]]  %>
        <%= f.input :age_group, label: false, placeholder: "Age Group" %>
        <%= f.input :address, label: false, placeholder: "Address" %>
        <%= f.input :district, label: false, prompt: "District", collection: ["Friedrichshain", "Kreuzberg", "Mitte", "Neukölln", "Steglitz", "Schöneberg", "Spandau", "Prenzlauer Berg", "Pankow"]%>
        <%= f.input :price, label: false, placeholder: "Price" %>
        <%= f.input :photos, as: :attachinary %>
        <%= f.button :submit, "Submit", class: "btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

