<div class="show_page_wrapper">

     <div class="wrapper_activity_photo" style="background-image: url(<%= cl_image_path @activity.photos.first.path%>);">
    </div>

  <div class="wrapper_activity">

    <div class="wrapper_activity_title">
     <h1><%= @activity.title %></h1>
     <% @activity.average_rating.times do %>
     <i class="fa fa-star" style="color: #f99d78"> </i>
     <% end %>
   </div>
   <div class="wrapper_activity_share_button">
    <%= render 'shared/share_button_social_media' %>
  </div>
  <div class="wrapper_activity_description">
   <h3>Age group: <%= @activity.age_group %>+</h3>
   <h3>Category: <%= @activity.category %></h3>
   <p><%= @activity.description %></p>
 </div>
</div>

<div class="event_container">
 <div class="wrapper_event wrapper_event_header">
  <div class="wrapper_event_dates">
   <p>Dates</p>
 </div>
 <div class="wrapper_event_details">
   <p>Details</p>
 </div>
 <div class="wrapper_event_price">
  <p>Price</p>
</div>
<div class="wrapper_event_button">
</div>
</div>
<% evts = @activity.events.where( "start_date >= ? ", Date.today) %>
<% evts.each do |event| %>
<div class="wrapper_event">
  <div class="wrapper_event_dates">
   <div class="wrapper_event_dates_text">
    <p>Dates</p>
  </div>
  <div class="main_info date">
    <p><%= event.start_date.strftime("%A %e %B ") %></p>
  </div>
</div>
<div class="wrapper_event_details">
 <div class="wrapper_event_details_text">
  <p>Details</p>
</div>
<div class="main_info description">
 <p>Do not forget to bring your child(ren) to the activity.
  No sunglasses.
Parents can enjoy a drink and/or snack in our bar while your kids are having fun. </p ><br>
</div>
</div>
<div class="wrapper_event_price">
  <div class="wrapper_event_price_text">
    <p>Price</p>
  </div>
  <div class="main_info price">
    <p><%= humanized_money_with_symbol(@activity.price) %></p>
  </div>
</div>
<div class="wrapper_event_button">
 <div class="wrapper_event_button_text">
  <p>Book</p>
</div>
<%#= link_to new_event_booking_path(event) do %>
<div class="main_info">
  <% if user_signed_in? %>
    <%= form_tag event_bookings_path(event) do %>
      <%= hidden_field_tag 'event_id', event.id %>
      <%# number_field_tag 'quantity' %>
      <%= submit_tag 'Book', class: "book-button" %>
      <% end %>
  <% else %>
    <%= link_to "sign in and book", new_user_session_path, class: "book-button" %>
    <% session[:return_to_activity_id] = @activity.id %>
  <% end %>
</div>
</div>
</div>
<% end %>
</div>

<div class="wrapper_info">
  <div class="contact_details">
   <h2><%= @activity.user.first_name %></h2><br>
   <% @activity.user.provider_rating.times do %>
    <i class="fa fa-star" style="color: #f99d78"> </i>
   <% end %>
   <p><%= @activity.address %></p>
 </div>
 <div class="map_details" style='background-image: url("<%= "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=500x400&sensor=false&maptype=roadmap&markers=color:red|#{@activity.address}&key=AIzaSyDf8p_X3_9cxHXPk266pq65mxTqdmEzPiI" %>"); width: 500px; height: 400px;'>
 </div>
</div>

<div class="wrapper_review">
  <h2>Reviews</h2>
  <%= render 'shared/reviews_show' %>
</div>

</div>
