<div class="wrapper-activity-show">
	<div class="activity-header">
		<div class="activity-title">
			<h1><%= @activity.title %></h1>
		</div>
		<div class="activity-age-group">
			<h3>Age group: <%= @activity.age_group %>+</h3>
		</div>
		<div class="activity-description">
			<p><%= @activity.description %></p>
		</div>
		<div class="activity-photo">
			<%= cl_image_tag @activity.photos.first.path %>
		</div>
	</div>

	<div class="activity-events">
		<div class="activity-events-header">
			<div class="activity-events-header-date">
				<h4>Dates</h4>
			</div>
			<div class="activity-events-header-details">
				<h4>Details</h4>
			</div>
			<div class="activity-events-header-button">

			</div>
		</div>
		<% @activity.events.each do |event| %>
		<div class="activity-events-body">
			<div class="activity-events-body-date">
				<p><%= event.start_date %> - <%= event.end_date %></p>
			</div>
			<div class="activity-events-body-details">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, fugiat odit dolores voluptate tenetur debitis inventore itaque aspernatur veniam hic.</p>
			</div>
			<div class="activity-events-body-button">
				<button><%= form_tag event_bookings_path(event) do %>
          <%= hidden_field_tag 'event_id', event.id %>
          <%# number_field_tag 'quantity' %>
          <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %></button>
        </div>
      </div>
    </div>


    <% end %>

    <div class="activity-provider-event">
      <div class="activity-provider-name">
       <h2><%= @activity.user.first_name %></h2>
     </div>
     <div class="activity-provider-address">
       <address><%= @activity.user.address %></address>
     </div>
     <div class="activity-event-map">
       <p>Awesome map appears here</p>
     </div>
   </div>
   <div class="activity-review">
    <p>Be the first one to leave a review</p>
  </div>
</div>
