<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'public/packs/png' %>
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="KIDAROO-explore and book children activities" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.kidaroo.club" />
  <meta property="og:image" content="https://www.getpostman.com/img/v2/homepage/postman-hero.svg" />
  <meta property="og:description" content="You are just few clicks away from booking an activity for your children in Berlin. Have a look at the categories and enjoy a day full of fun!" />
  <meta property="og:site_name" content="<%= meta_title %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= meta_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="https://www.getpostman.com/img/v2/homepage/postman-hero.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>KIDAROO-explore and book children activities</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <meta name="description" content="You are just few clicks away from booking an activity for your children in Berlin. Have a look at the categories and enjoy a day full of fun!"

</head>

<body class="site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div class="site-content">
    <%= yield %>
  </div>
  <%= render 'shared/footer' unless @no_footer %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'tilt' %>
  <%= javascript_pack_tag 'form' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_pack_tag 'map' %>
  <%= cloudinary_js_config %>

  <%= yield :after_js %>
</body>
</html>


