<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>KIDAROO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <meta name="description" content="You are just few clicks away from booking an activity for your children in Berlin. Have a look at the categories and enjoy a day full of fun!"
</head>
<body class="site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div class="site-content">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'tilt' %>
  <%= javascript_pack_tag 'form' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_pack_tag 'map' %>
  <%= cloudinary_js_config %>

  <%= yield :after_js %>
</body>
</html>


