<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--   <script src="js/modernizr.custom.js"></script> -->


  <title>KIDAROO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body class="site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div class="site-content">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%#= javascript_pack_tag 'modernizr.custom' %>
  <%= javascript_pack_tag 'nlform' %>
  <%= javascript_pack_tag 'tilt' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_pack_tag 'map' %>
  <%= cloudinary_js_config %>
</body>
</html>


